.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(245,245,245);
}
  
.content {
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 70px;
}

.footer {
    background-color: rgb(169,169,169);
    color: whitesmoke;
}

.navbar {
    background-color: rgb(169,169,169);
}
  